<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="card">

              <ul class="list-inline">
                <% @grid.each do |char| %>
                  <li><%= char %></li>
                  <% end %>
              </ul>

                <form action="/score">
                    <input type="text" class="form-control" id="mot" name="reponse" placeholder="Typing your word">
                    <input type="hidden" id="grid" name="grid" value="<%= @grid.join %>">
                    <input type="hidden" id="start_time" name="start_time" value="<%= @start_time %>">
                    <button type="submit" class="btn btn-default">Send your anwser</button>
                </form>

            </div>
        </div>
    </div>
</div>
